{% extends 'layouts/app.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Reset Page{% endblock title %}
{% block content %}
    {% comment %} <div class="row my-3 p-3">
        <h4>This is the Password Update page for <b><i>{{user.username}}</i></b></h4>

    </div> {% endcomment %}
    <div class="content-section">
        <h2>Password Reset Confirm</h2><hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-info" type="submit">Reset password</button>
        </form>
    </div>
{% endblock content %}

{% comment %} <form method="POST" novalidate>
    {% csrf_token %}
     <h2>Upade Password</h2> 
    {{form.as_p}}
    <input type="submit" value="update" />
</form> {% endcomment %}

{% comment %} <form method="POST" novalidate>
	{% csrf_token %}
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Old Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control"  name="lastname" placeholder="Enter your old password" >
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">New Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control"  name="lastname" placeholder="Enter your new password" >
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control"  name="lastname" placeholder="Re-type your new password" >
        </div>
    </div>
     
        {% comment %} <p><a href="{%url 'profile' %}">Update</a></p> 
    <button class="btn btn-primary" type="submit">Submit </button> 
    <button class="btn btn-primary" type="submit"><a href="{% url "home" %}">Back</a> </button>
    <button class="btn btn-primary" type="submit"><a href="{% url "changepass" %}">Chnage Password</a> </button>
</form> {% endcomment %}
