{% extends 'layouts/app.html' %}

{% block title %}Reset your password{% endblock %}
{% block content %}
{% comment %} <style>
    input[type='text'],
    input[type='email'],
    input[type='password']{
        min-width: 24rem;
        width: 100%;
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid var(--color-light);
        transition: all 0.3s ease-in-out;
        background-color: var(--color-bag);
    }

    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active{
        outline: none;
        border: 2px solid var(--color-main);
    }
</style> {% endcomment %}




<main class="formPage my-x1">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Password reset</h3>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

            <br>
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Send e-mail"></p>

            </form>
        </div>
    </div>
</main>

{% endblock %}